body {
    background-color: white !important;
}

header {
    background-color: white !important;
    border: none !important;
    text-align: center;
}

a {
    color: #267CB9 !important;
}

a.buttons {
    background: none !important;
    padding: 2px !important;
    color: #267CB9 !important;
}

img.directory {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 20px !important;
    height: 20px !important;
}
img.swag{
    max-width: 250px;
    max-height: 187px;
}

p.title {
    font-size: 28px;
    color: black;
}

header li.buttons {
    list-style-type: none;
    width: 132px;
    height: 15px;
    margin-bottom: 12px;
    line-height: 1em;
    padding: 6px 6px 6px 7px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, white 0%, white 100%);
    background: -o-linear-gradient(top, white 0%, white 100%);
    background: -ms-linear-gradient(top, white 0%, white 100%);
    background: linear-gradient(to top, white 0%, white 100%);
    border-radius: 4px;
    border: 1px solid #0D0D0D;
    -webkit-box-shadow: inset 0px 1px 1px 0 white;
    box-shadow: inset 0px 1px 1px 0 white;
}

header li.buttons:hover {
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, white 0%, white 100%);
    background: -o-linear-gradient(top, white 0%, white 100%);
    background: -ms-linear-gradient(top, white 0%, white 100%);
    background: linear-gradient(to top, white 0%, white 100%);
}

td {
    background: #fff !important;
}




.hamburg { 
    display: block;
    background: #425075; width: 75px; height: 50px; 
    position: relative; 
    margin-left: auto; margin-right: auto;
    border-radius: 4px; 
    transition: border-radius .5s;
 }
 
 .line { 
    position: absolute; 
    left:10px;
    height: 4px; width: 55px; 
    background: #fff; border-radius: 2px;
    display: block; 
    transition: 0.5s; 
    transform-origin: center; 
 }
 
 .line:nth-child(1) { top: 12px; }
 .line:nth-child(2) { top: 24px; }
 .line:nth-child(3) { top: 36px; }
 
 .hamburg.checked .line:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
 }
 
 .hamburg.checked .line:nth-child(2){
    opacity:0;
 }
 
 .hamburg.checked .line:nth-child(3){
    transform: translateY(-12px) rotate(45deg);
 }

.hamburger_menu{
    text-align: center;
    visibility: hidden;
    padding: 10px;
}

.hamburger_menu.checked {
    visibility: visible;
}