body {
    background-color: white !important;
}

header {
    background-color: white !important;
    border: none !important;
    text-align: center;
    padding-right:0% !important;
}

a {
    color: #267CB9 !important;
}

a.buttons {
    background: none !important;
    padding: 2px !important;
    color: #267CB9 !important;
}

img.directory {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 20px !important;
    height: 20px !important;
}
img.swag{
    max-width: 250px;
    max-height: 187px;
}

p.title {
    font-size: 25px;
    color: black;
}

header li.btn{
    all: initial;
    font-family: Arvo, Monaco, serif !important;
}

header li.buttons {
    list-style-type: none;
    width: 132px;
    height: 15px;
    margin-bottom: 12px;
    line-height: 1em;
    padding: 6px 6px 6px 7px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, white 0%, white 100%);
    background: -o-linear-gradient(top, white 0%, white 100%);
    background: -ms-linear-gradient(top, white 0%, white 100%);
    background: linear-gradient(to top, white 0%, white 100%);
    border-radius: 4px;
    border: 1px solid #0D0D0D;
    -webkit-box-shadow: inset 0px 1px 1px 0 white;
    box-shadow: inset 0px 1px 1px 0 white;
}

header li.buttons:hover {
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, white 0%, white 100%);
    background: -o-linear-gradient(top, white 0%, white 100%);
    background: -ms-linear-gradient(top, white 0%, white 100%);
    background: linear-gradient(to top, white 0%, white 100%);
}

td {
    background: #fff !important;
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}

ul.hamburger_list{
    position: inherit !important;
}

.hamburg { 
    display: block;
    position: relative; 
    margin-left: auto; margin-right: auto;
    margin-top: 10px; margin-bottom: 10px;
    display: block;
    color: black;
 }

.hamburger_menu{
    text-align: center;
    display: none;
    margin-left: auto; margin-right: auto;
    margin-top: 10px; margin-bottom: 10px;
}

.hamburger_menu.checked {
    display:inline-block;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
ul.share-buttons li{
    display: inline;
}

ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

img {
    border: none !important;
}

img.headshot {
    max-width: 50px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}

div.centered{
    display: block;
    text-align: center;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  i.tip{
    font-style: italic;
    font-weight: bold;
  }