---
layout: default
comments: true
title: #35 Emily Bache
description: #35 Emily Bache on maximizing career for family, hobbies and making a difference in the world
---
<h1>#35 Emily Bache on maximizing career for family, hobbies and making a difference in the world</h1>
<script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/190346.js?player=small&artist=Timoth%C3%A9e%20Bourguignon,%20Emily%20Bache'></script>

{% if page.comments %}  
{% include disqus.html %}
{% endif %}