---
layout: default
comments: true
title: #62 ‪Llewellyn Falco
description: #62 ‪Llewellyn Falco brought the joy of programming back in his life‬ via mob programming
---
<h1>#62 ‪Llewellyn Falco brought the joy of programming back in his life‬ via mob programming</h1>
<script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/190346.js?player=small&artist=Timoth%C3%A9e%20Bourguignon,%20Llewellyn%20Falco'></script>

{% if page.comments %}  
{% include disqus.html %}
{% endif %}
