<ul class="top-guests">
    <li class="btn"><a class="btn" href="https://devjourney.info/Guests/88-LydiaHallie.html" target="_blank" title="">1. <b>Lydia Hallie</b> is following her passion</a></li>
    <li class="btn"><a class="btn" href="https://devjourney.info/Guests/108-CassidyWilliams.html" target="_blank" title="">2. <b>Cassidy Williams</b> loves developer experience</a></li>
    <li class="btn"><a class="btn" href="https://devjourney.info/Guests/60-TrishaGee.html" target="_blank" title="">3. <b>Trisha Gee</b> owns her career</a></li>
    <li class="btn"><a class="btn" href="https://devjourney.info/Guests/85-ShedrackAkintayo.html" target="_blank" title="">4. <b>Shedrack Akintayo</b> went remote first</a></li>
    <li class="btn"><a class="btn" href="https://devjourney.info/Guests/43-PatKua.html" target="_blank" title="">5. <b>Patrick Kua</b> on being a consultant, a tech lead, a CTO and helping people grow</a></li>
</ul>