<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://devjourney.info/Img/favicon-32x32.png">
    <link rel="apple-touch-icon" href="https://devjourney.info/Img/favicon-32x32.png" />
    <meta name="twitter:image" content="https://devjourney.info/Img/logo_small.png" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <meta property="og:image" content="/Img/logo_small.png" /> 
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    {% seo title=false %}

    <title>
        {{ page.title }}
    </title>
</head>

<body style="font-family: 'Inconsolata', monospace;">
    <div class="wrapper">
        <header>
            <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" />
            <link href="/css/add.css" rel="stylesheet"> {% if site.logo %}
            <a href="https://devjourney.info"><img src="/Img/BigLogoSmallText.png" alt="Logo" style="border: none;" /></a>
            {% endif %}

            <p class="title">Software Developers Journey Podcast</p>

            <p style="text-align: justify; text-justify: inter-word;">
            </p>

            <span>
                <i class="fa fa-bars hamburg"></i>
            </span>

            <div class="hamburger_menu">
                <ul class="hamburger_list">
                    <li class="btn"><a class="btn" href="/subscribe.html">📢 Subscribe</a></li>
                    <li class="btn"><a class="btn" href="/buy-devjourney-swag.html">👕 Swag</a></li>
                    <li class="btn"><a class="btn" href="/donate.html">💰 Donate</a></li>
                    <li class="btn"><a class="btn" href="/search-devjourney.html">🔎 Search</a></li>
                </ul>
            </div>

        </header>
        <section class="content">

            {{ content }}

        </section>
        <footer>
            <p>Copyright 2023</br>
                <a href="https://www.timbourguignon.fr">Tim Bourguignon</a></p>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js " | relative_url }}"></script>
    <script>
        var hamburger = document.querySelector(".hamburg");
        var hamburger_menu = document.querySelector(".hamburger_menu");
        hamburger.onclick = function () {
           this.classList.toggle ("checked");
           hamburger_menu.classList.toggle("checked");
        }
    </script>
    <script>
        window.onload = function() {
            if (document.documentElement.clientWidth >= 960) {
                hamburger_menu.classList.toggle("checked");
        }}
     </script>
</body>

</html>
