---
layout: default
comments: true
title: "Stories of past careers and winding paths toward development"
description: ""
---
<h1>Stories of past careers and winding paths toward development</h1>

<h2>Episode pages</h2>
<p>
    <ul>
        <li><a href="/Guests/265-MirjamAulbach.html">#265 <b>Mirjam Aulbach</b> accountant, dog trainer, and senior engineer</a> - Aug 08, 2023</li>
        <li><a href="/Guests/256-KrisztinaHirth.html">#256 Krisztina Hirth ran away from a boring life</a> - Jun 06, 2023</li>
        <li><a href="/Guests/254-MarjorieAubert.html">#254 <b>Marjorie Aubert</b> from nurturing plants to mob programming</a> - May 23, 2023</li>
        <li><a href="/Guests/246-BekahHawrotWeigel.html">#246 <b>Bekah Hawrot Weigel</b> found the power of communities</a> - Mar 28, 2023</li>
        <li><a href="/Guests/235-Jean-PhilippeLeBlanc.html">#235 <b>Jean-Philippe LeBlanc</b> from truck driver to engineering org builder</a> - Jan 10, 2023</li>
        <li><a href="/Guests/231-AmyWallhermfechtel.html">#231 <b>Amy Wallhermfechtel</b> hippie, teacher, historian & dev</a> - Dec 06, 2022</li>
    </ul>
</p>

<p>If you'd like me to create other playlists, <a href="mailto:info@devjourney.info">let me know!</a></p>

<div id='buzzsprout-large-player-tags-2nd-career-devs'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/190346.js?artist=&container_id=buzzsprout-large-player-tags-2nd-career-devs&player=large&tags=2nd+Career+Devs'></script>

{% if page.comments %}
{% include sharebuttons.html %}
{% endif %}
