---
layout: default
comments: true
title: "Playlist containing stories of Devs Turned Entrepreneurs"
description: ""
---
<h1>Stories of devs turned entrepreneurs</h1>

<h2>Episode pages</h2>
<p>
    <ul>
        <li><a href="/Guests/266-CoryODaniel.html">#266 <b>Cory ODaniel</b> from a suit and a tie to one startup after the other</a> - Aug 15, 2023</li>
        <li><a href="/Guests/265-MirjamAulbach.html">#265 <b>Mirjam Aulbach</b> accountant, dog trainer, and senior engineer</a> - Aug 08, 2023</li>
        <li><a href="/Guests/263-PhilAlves.html">#263 <b>Phil Alves</b> maker of product-developer teams</a> - Jul 25, 2023</li>
        <li><a href="/Guests/252-DianaMontalion.html">#252 <b>Diana Montalion</b> from a bookstore to systems thinking</a> - May 9, 2023</li>
        <li><a href="/Guests/243-NikhilNandagopal.html">#243 <b>Nikhil Nandagopal</b> cares deeply about the problems we solve</a> - Mar 07, 2023</li>
        <li><a href="/Guests/242-DeanTribble.html">#242 <b>Dean Tribble</b> between innovation and reinventing the wheel</a> - Feb 28, 2023</li>
        <li><a href="/Guests/239-AbhimanyuSaxena.html">#239 <b>Abhimanyu Saxena</b> from novice CS undergrad to entrepreneur</a> - Feb 07, 2023</li>
        <li><a href="/Guests/238-JakeLumetta.html">#238 <b>Jake Lumetta</b> started and failed many times</a> - Jan 31, 2023</li>
        <li><a href="/Guests/234-DustinDeVries.html">#234 <b>Dustin DeVries</b> aligning career and life phases</a> - Jan 03, 2023</li>
        <li><a href="/Guests/227-KaterinaTrajchevska.html">#227 <b>Katerina Trajchevska</b> founded her remote workplace</a> - Nov 08, 2022</li>
        <li><a href="/Guests/101-JeffHaynie.html">#101 <b>Jeff Haynie</b> on thinking under pressure, contracting & entrepreneurs</a> - May 19, 2020</li>
    </ul>
</p>

<p>If you'd like me to create other playlists, <a href="mailto:info@devjourney.info">let me know!</a></p>

<div id='buzzsprout-large-player-tags-entrepreneur'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/190346.js?artist=&container_id=buzzsprout-large-player-tags-entrepreneur&player=large&tags=Entrepreneur'></script>

{% if page.comments %}
{% include sharebuttons.html %}
{% endif %}
