---
layout: default
comments: true
title: "Playlist containing stories of Devs Turned Entrepreneurs"
description: ""
---
<h1>Stories of devs turned entrepreneurs</h1>

<p></p>

<p>If you'd like me to create other playlists, <a href="mailto:info@devjourney.info">let me know!</a></p>

<div id='buzzsprout-small-player-tags-entrepreneur'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/190346.js?artist=&container_id=buzzsprout-small-player-tags-entrepreneur&player=small&tags=Entrepreneur'></script>

{% if page.comments %}
{% include sharebuttons.html %}
{% endif %}
