---
layout: default
comments: true
title: "Tales of devs who became leaders in their own ways"
description: ""
---
<h1>Tales of devs who became leaders in their own ways</h1>

<h2>Episode pages</h2>
<p>
    <ul>
        <li><a href="/Guests/252-DianaMontalion.html">#252 <b>Diana Montalion</b> from a bookstore to systems thinking</a> - May 9, 2023</li>
        <li><a href="/Guests/249-ClaudeJones.html">#249 <b>Claude Jones</b> became the practical leadership guy</a> - Apr 18, 2023</li>
        <li><a href="/Guests/244-MeshiYona.html">#244 <b>Meshi Yona</b> is a cyber analyst who wanted to try new things</a> - Mar 14, 2023</li>
        <li><a href="/Guests/243-NikhilNandagopal.html">#243 <b>Nikhil Nandagopal</b> cares deeply about the problems we solve</a> - Mar 07, 2023</li>
        <li><a href="/Guests/235-Jean-PhilippeLeBlanc.html">#235 <b>Jean-Philippe LeBlanc</b> from truck driver to engineering org builder</a> - Jan 10, 2023</li>
        <li><a href="/Guests/178-AvivBen-Yosef.html">#178 <b>Aviv Ben-Yosef</b> went through a lifelong experience pressure cooker</a> - Nov 23, 2021</li>
        <li><a href="/Guests/174-RotemZifroni.html">#174 <b>Rotem Zifroni</b> is the future founder of a social startup</a> - Oct 26, 2021</li>
        <li><a href="/Guests/154-AnandSafi.html">#154 <b>Anand Safi</b> is setting people up for success</a> - Jun 08, 2021</li>
        <li><a href="/Guests/121-KathrynErickson.html">#121 <b>Kathryn Erickson</b> on leadership and asking for help</a> - Oct 06, 2020</li>
    </ul>
</p>

<p>If you'd like me to create other playlists, <a href="mailto:info@devjourney.info">let me know!</a></p>

<h2>Browse those stories directly via the player</h2>

<div id='buzzsprout-large-player-tags-leadership'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/190346.js?artist=&container_id=buzzsprout-large-player-tags-leadership&player=large&tags=Leadership'></script>
<!--
<h2>All the episode pages relating to leadership</h2>
<p>
    <ul>
        <li></li>
    </ul>
</p>
-->
{% if page.comments %}
{% include sharebuttons.html %}
{% endif %}
